<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <!-- 
 namespace :  DB접근 패키지  Interface명 까지 접근위치를 지정
 select id : id는 interface의 메소드 명과 완벽하게 일치! 해야한다.
 
 -->
<mapper namespace="com.example.spring.firstproject.mapper.NoticeMapper">
 
    <select id="SelectAllList" resultType="hashmap">
     SELECT * FROM test_jsw
    </select>
 
</mapper>
